/*

  This Portfolio website is made by Yosra Skhiri 
  mail: yosra.skhiri.mail@gmail.com

  ------------------------------------------------
  ***Table of Content***
  1- Fonts
  2- Variables
  3- Reset styles
  4- Layout 
  5- Background
  5- Navigation 
  6- Home page
  7- about page
  8- media queries
    i- buttons
    ii- home page
    iii- about page

*/

/* 1-Fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

/* /Fonts */

/* 2-Variables */

:root {
  --light-bg-color: #fcfcfc;
  --dark-bg-color: #242424;

  --light-text-color: #464646;
  --dark-text-color: #ffffff;

  --light-primary-color: #ffff00;
  --dark-primary-color: #ff0000;

  --light-secondary-color: #72d9e0;
  /*--dark-secondary-color: #72D9E0;*/
}

/* /Variables */

/* 3-Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* /Reset styles */

/* 4-Layout */

html,
body {
  width: 100%;
  height: 100vh;
  background-color: var(--light-bg-color);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 70em;
  padding: 0 2em;
  margin: 3em auto;
  position: relative;
  z-index: 3;
}

/* /Layout */

/* Buttons */

.btn {
  font-weight: bold;
  border-radius: 50px;
  position: relative;
  display: block;
}

.btn > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary {
  background-color: var(--light-secondary-color);
  border: 2px solid var(--dark-bg-color);
}

.btn-secondary {
  background-color: var(--light-primary-color);
  border: 2px solid var(--dark-bg-color);
}

.btn-cv {
  width: 8em;
  height: 2.7em;
  font-size: 1rem;
}

.btn-card {
  width: 4.8em;
  height: 1.9em;
  margin-right: 1.2em;
  font-size: 0.85rem;
}

.btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  z-index: -1;
  top: 10%;
  left: 2%;
}

.btn-primary::after {
  border: 2px solid var(--dark-bg-color);
  background-color: #55a7ac;
}

.btn-secondary::after {
  border: 2px solid var(--dark-bg-color);
  background-color: #acac06;
}

.btn:active {
  top: 10%;
  left: 2%;
}

.btn:active::after {
  top: 0%;
  left: 0%;
}

.btn-primary.btn-deactivated {
  border: 2px solid #579ca1;
  color: #579ca1;
  cursor: default;
}

.btn-primary.btn-deactivated::after {
  border: 2px solid #579ca1;
}

.btn-secondary.btn-deactivated {
  border: 2px solid #b9b950;
  color: #b9b950;
  cursor: default;
}

.btn-secondary.btn-deactivated::after {
  border: 2px solid #b9b950;
}

.btn.btn-deactivated:active {
  top: 0%;
  left: 0%;
}

.btn.btn-deactivated:active::after {
  top: 10%;
  left: 2%;
}

/* /Buttons */

/**/

.computer-bg {
  width: 500px;
  position: fixed;
  opacity: 0.15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.right-illu,
.left-illu {
  position: fixed;
  transform: translate(-50%, -50%);
  width: 300px;
  opacity: 0.8;
}

.left-illu {
  top: 85%;
  left: 5%;
}

.right-illu {
  top: 95%;
  left: 95%;
}
/**/

/* 5-Navigation */

nav {
  display: flex;
  padding: 1em 3.5em;
  justify-content: space-between;
  font-size: 1rem;
}

.logo {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0.4em;
}

.logo > a > span:nth-child(1) {
  font-weight: 300;
}

.logo > a > span:nth-child(2) {
  font-weight: 500;
}

.logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -55%;
  display: block;
  width: 3.5rem;
  height: 2px;
  background-color: var(--light-text-color);
  cursor: auto;
}

.nav-links {
  display: flex;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  align-items: center;
}

.nav-link {
  padding: 0 2.3em;
}

.nav-link > a {
  display: block;
  width: 4.4em;
  text-align: center;
}

.nav-link > a > span {
  display: block;
  width: fit-content;
  margin: auto;
  position: relative;
  z-index: 1;
}

.nav-link > a > span::before {
  content: "";
  display: block;
  background-color: var(--light-primary-color);
  width: 0%;
  height: 7px;
  position: absolute;
  z-index: -1;
  top: 10px;
  transition: width 0.5s ease-in-out;
}

.nav-link > a:hover > span::before {
  width: 130%;
}

.nav-link > a > span::after {
  content: "";
  display: block;
  background-color: var(--light-secondary-color);
  width: 0%;
  height: 7px;
  position: absolute;
  z-index: -2;
  top: 10px;
  transition: width 0.3s ease-in-out;
}

.nav-link > a:hover > span::after {
  width: 130%;
}

.nav-link + .nav-link {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.social-icons {
  position: absolute;
  height: 120px;
  top: 50%;
  right: 0;
  margin-right: 1em;
  transform: translateY(-50%);
}

.social-icons > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

#hamburger {
  display: none;
  z-index: 6;
}

.mode-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  margin: 2em;
}

/* /Navigation */

/* 6-Home page */

.intro {
  display: flex;
  position: relative;
  z-index: 1;
}

.intro-content {
  position: relative;
  align-self: center;
  justify-self: center;
  animation: intro-animation 1.5s ease-out forwards;
}

@keyframes intro-animation {
  from{
    left: -15%;
    opacity: 0;
  }
  to{
    left: 0%;
    opacity: 1;
  }
}

.intro-title {
  font-family: "Permanent Marker";
  font-size: 2rem;
  margin-bottom: 0.2em;
  letter-spacing: 1px;
  z-index: 1;
  position: relative;
}

.intro-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  height: 15px;
  background-color: var(--light-primary-color);
  animation: title 1s ease-out forwards;
}

@keyframes title {
  from{
    width: 0%;
  }
  to {
    width: 5.4em;
  }
}

.intro-text {
  opacity: 0.8;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1em;
}

.main-img {
  min-width: 50%;
  max-width: 20em;
  justify-self: center;
  align-self: center;
}

.bg-text {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* /Home page */

/* About page */

.about-section {
  display: flex;
}

.edu {
  border-right: 1px solid #a3a3a3;
}

.edu,
.job {
  padding: 0em 7%;
  justify-self: center;
  flex: 1;
  position: relative;
  z-index: 2;
}

.details {
  display: flex;
  margin-bottom: 1.7em;
}

.about-title {
  font-size: 1.5em;
  margin-bottom: 1em;
  letter-spacing: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-25%);
}

.details-date {
  font-size: 0.9rem;
  font-weight: lighter;
  white-space: nowrap;
}

.details-title {
  font-size: 1em;
  margin-bottom: 1em;
}

.details-text {
  font-size: 0.9em;
  margin-left: 3em;
}

.details-content {
  opacity: 0.85;
}

.mobile-title {
  display: none;
}

/* /About page */

/* Skills page */

.skill-title {
  font-family: "Permanent Marker";
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 1em;
  position: relative;
}

.skill-title::after {
  content: "";
  display: block;
  background-color: black;
  width: 20em;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 12.6em;
}

.skill-container {
  display: flex;
  justify-content: space-around;
}

.detailed-skills > h2 {
  margin-bottom: 1em;
  opacity: 0.85;
}

.items {
  display: flex;
  justify-content: space-around;
  width: 16em;
}

.items > ul > li {
  margin-bottom: 0.5em;
}

/* /Skills page */

/* Projects page */

.projects {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 50px;
}

.project-card {
  width: 500px;
  height: 180px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  z-index: 3;
  justify-self: center;
  align-self: center;
}

.card-img-container {
  width: 100%;
  display: flex;
  background-color: #72d9e0;
  border-radius: 25px 0 0 25px;
}

.card-img {
  margin: auto;
}

.card-content {
  padding: 0.6em;
}

.card-date {
  font-weight: lighter;
  font-size: 0.7rem;
}

.card-title {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}

.card-text {
  font-size: 0.8rem;
  opacity: 0.9;
  margin-bottom: 0.5em;
}

.tech-icons {
  margin-bottom: 0.2em;
}

.buttons-card {
  display: flex;
}

/* Projects page */

@media only screen and (max-width: 768px) {
  #hamburger {
    display: flex;
    width: 30px;
    height: 22px;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
  }

  #hamburger::before,
  #hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #242424;
  }

  #hamburger > span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #242424;
  }

  #hamburger.active::before {
    animation: top-line 0.4s ease-in-out forwards;
  }

  #hamburger.active::after {
    animation: bottom-line 0.4s ease-in-out forwards;
  }

  #hamburger.active > span {
    animation: mid-line 0.4s ease-in-out forwards;
  }

  @keyframes top-line {
    from {
      transform: rotate(0deg);
    }
    to {
      background-color: #ffffff;
      transform: translateY(9px) rotate(135deg);
    }
  }

  @keyframes bottom-line {
    from {
      transform: rotate(0deg);
    }
    to {
      background-color: #ffffff;
      transform: translateY(-10px) rotate(-135deg);
    }
  }

  @keyframes mid-line {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #72d9e0;
    opacity: 0.9;
    z-index: 5;
    transform: translateX(100%);
  }

  .nav-link > a > span::before,
  .nav-link > a > span::after {
    display: none;
  }

  @keyframes menu-slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes menu-slide-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }

  .nav-link + .nav-link {
    border: none;
  }
  .nav-link {
    padding: 0;
  }

  .nav-link:first-child {
    margin-top: 10em;
  }

  .nav-link > a {
    width: 200px;
    height: 50px;
    display: flex;
  }

  .nav-link > a:active {
    background-color: rgb(74, 194, 202);
  }

  .nav-link > a > span {
    margin: auto;
  }

  .intro {
    flex-direction: column;
  }

  .intro-text {
    font-size: 1.3rem;
  }

  .main-img {
    order: 1;
    margin-bottom: 1.7em;
  }

  .intro-content {
    order: 2;
  }

  .social-icons {
    margin-top: 3em;
    position: static;
    width: 150px;
    height: 30px;
  }

  .social-icons > ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .about-section {
    flex-direction: column;
  }

  .edu {
    border-right: none;
  }

  .edu,
  .job {
    padding: 0em;
    justify-self: center;
  }

  .mobile-titles {
    display: flex;
    justify-content: space-between;
  }

  .mobile-title {
    display: block;
  }

  .about-title {
    left: 0%;
    position: static;
    transform: translateX(0%);
  }

  .job > .about-title {
    display: none;
  }

  .mobile-titles > #job::after {
    width: 0;
  }

  .computer-bg {
    width: 400px;
    top: 87%;
    left: 25%;
  }

  .project-card {
    width: 300px;
    height: 310px;
    flex-direction: column;
  }

  .card-img-container {
    height: 150px;
    border-radius: 25px 25px 0 0;
    margin: auto;
  }

  .buttons-card {
    width: 100%;
  }

  .btn-card {
    flex: 1;
  }

  .skill-container {
    flex-direction: column;
  }

  .detailed-skills {
    align-self: center;
  }

  .skill-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .main-img {
    margin-bottom: 1.7em;
  }

  .intro-title {
    font-size: 1.3rem;
  }
  .intro-text {
    font-size: 0.9rem;
  }

  .btn-cv {
    width: 100%;
  }

  .details {
    flex-direction: column;
  }

  .mobile-titles {
    flex-direction: column;
  }

  .left-illu {
    display: none;
  }
}
